   * { box-sizing: border-box; }
    body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to right, #148135, #87c611);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    .card {
      background: rgb(139, 227, 157);
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 750px;
    }
    h1 {
      color: #0f0f0f;
    }
    #correo {
      color: #000000;
      font-weight: 500;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 1rem;
      font-size: 0.95rem;
    }
    th, td {
      padding: 0.7rem;
      text-align: left;
    }
    th {
      background-color: #03693b;
      color: #000000;
      border-bottom: 2px solid #a1d807;
    }
    tr:nth-child(even) {
      background-color: #f5faff;
    }
    tr.vencida {
      background-color: #ffebee !important;
      color: #b71c1c;
      font-weight: bold;
    }
    tr.hoy {
      background-color: #fff3e0 !important;
      color: #e65100;
      font-weight: bold;
    }
    tr:hover {
      background-color: #e1f5fe;
    }
    #error {
      margin-top: 1rem;
      color: red;
      font-weight: bold;
    }
    .btn-group {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
    button {
      padding: 0.6rem 1rem;
      border: none;
      border-radius: 6px;
      background-color: #084d26;
      color: white;
      cursor: pointer;
      font-size: 0.95rem;
    }
    button:hover {
      background-color: #0da177;
    }
    .total-vencidas {
      margin-top: 1rem;
      font-size: 1.1rem;
      font-weight: bold;
      color: #d32f2f;
    }